.pre-footer {
  padding: 0;
  display: grid;
  grid-template-columns: minmax(10px, auto) 560px 60px 560px minmax(10px, auto);
  align-items: center;

  @include e(form-box) {
    grid-column: 2 / 3;
  }

  @include e(image-box) {
    display: initial;
    grid-column: 4 / 5;
    margin-top: -70px;
  }

  @include e(image) {
    @include image();
  }

  @include e(cat-spinner) {
    max-width: 400px;
    bottom: -40px;
  }

  @include e(registration-done) {
    top: calc(50% - 40px);
    left: calc(50% - 283px);
  }
}
