.pre-footer {
  padding: 0;
  display: grid;
  grid-template-columns: auto 570px 60px 570px auto;
  align-items: center;

  @include e(form-box) {
    grid-column: 2 / 3;
  }

  @include e(image-box) {
    display: initial;
    grid-column: 4 / 5;
    margin-top: -70px;
  }

  @include e(image) {
    @include image();
  }
}
