.header {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px $colorFooterText solid;
  background-color: $white;
  z-index: 1001;
  position: relative;

  @include e(title) {
    display: none;
  }

  @include e(svg-box) {
    order: -1;
  }

  @include e(svg) {
    display: block;
    width: 20px;
    height: 20px;

    @include m(cart) {
      display: none;
    }

    @include m(menu-desktop) {
      display: none;
    }
  }

  @include e(image-box) {
    width: 83.33px;
    height: 50px;
  }

  @include e(image) {
    @include image();
  }
}

.menu {
  display: none;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.3s;
}

.dark-overlay.visible {
  opacity: 1;
  visibility: visible;
}

.mobile-menu {
  background-color: $white;
  padding: 20px;
  position: fixed;
  width: 270px;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.mobile-menu.visible {
  right: 0;
}

.mobile-button_inside {
  position: absolute;
  right: 26px;
  z-index: 1000;
  padding: 5px;
}

.mobile-nav {
  margin-top: 10px;
  margin-bottom: 20px;
}

.mobile-nav a {
  display: block;
  padding: 1rem 0;
  color: $colorSmallMenuText;
  transition: all 0.3s;
}

.mobile-nav a.active {
  color: $colorButton;
}

.mobile-nav li {
  position: relative;
}

.mobile-nav li ul {
  padding-left: 1rem;
  display: none;
  font-family: $FontFamilySource;
  font-style: normal;
  font-weight: 400;
}

.mobile-nav li.has-submenu:after {
  content: "";
  position: absolute;
  top: 1.6rem;
  width: 0;
  height: 0;
  right: 1rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
}

.mobile-nav li.has-submenu.opened:after {
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
  border-top: none;
}

.mobile__svg-box {
  display: flex;
  gap: 8px;
}

.mobile__svg {
  width: 20px;
  height: 20px;
}

.fixed {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  transition: 0.5s;
}

.fixed-go {
  top: 0;
}

.moving-line {
  position: absolute;
  background-color: $colorButton;
  width: 100%;
  height: 5px;
  left: -100%;
  bottom: -5px;
  animation: movingLine 5s linear;
}

@keyframes movingLine {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
