.main-slider {
  @include e(arrows) {
    display: none;
  }

  @include e(item) {
    background-size: cover;
    height: 100vh;

    @include m(first) {
      background: url(#{$i}banner1.jpg) no-repeat 50% 50%;
    }

    @include m(second) {
      background: url(#{$i}banner2.jpg) no-repeat 50% 50%;
    }
  }

  @include e(box) {
    height: 100vh;
    display: grid;
    grid-template-columns: auto minmax(auto, 1200px) auto;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  @include e(text-block) {
    grid-column: 2;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding-bottom: 1px;
  }

  @include e(text) {
    margin-bottom: 26px;
    color: $colorText;
    position: relative;

    @include m(question) {
      order: -1;
      font-weight: $baseFontWeight;
      color: $colorButton;
      font-size: clamp(11px, 2.1vw, 18px);
    }

    @include m(question-active) {
      animation: textAnimateFromUp 1s ease;
    }

    @include m(title) {
      font-weight: 700;
      font-size: clamp(24px, 6vw, 72px);
    }

    @include m(title-active) {
      animation: textAnimateFromDown 1s ease;
    }

    @include m(content) {
      font-size: clamp(11px, 2.1vw, 16px);
      font-family: $FontFamilyLato;
      font-weight: 400;
    }

    @include m(content-active) {
      animation: textAnimateFromDown 1s ease;
    }
  }

  @include e(link) {
    color: $colorText;
    font-size: clamp(11px, 2.1vw, 16px);
    font-weight: 700;
    width: 150px;
    padding: 10px 0;

    @include m(active) {
      animation: textAnimateOpacity 1s ease;
    }
  }

  @include e(bubble-box) {
    width: 200px;
    height: auto;
    position: absolute;
    top: 15%;
    left: calc(50% - 160px);
    opacity: 1;

    @include m(active) {
      animation: imageAnimate 1s ease;
    }
  }

  @include e(bubble-box-second) {
    width: 200px;
    height: auto;
    position: absolute;
    top: 15%;
    left: calc(50% - 160px);
    transform: rotate(0) translateX(0);

    @include m(active) {
      animation: imageAnimateSecond 2s ease;
    }
  }

  @include e(google-box) {
    width: 350px;
    height: auto;
    position: absolute;
    top: 18%;
    left: calc(50% + 197px);
    opacity: 1;
    transition: 0.3s;

    @include m(active) {
      animation: imageAnimate 2s ease;
    }
  }

  @include e(kriwil-box) {
    width: 100%;
    height: 1200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -75%;
  }

  @include e(image) {
    @include image();
  }
}

@keyframes textAnimateFromDown {
  0% {
    transform: translateY(400px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes textAnimateFromUp {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes textAnimateOpacity {
  0% {
    scale: 0.9;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes imageAnimate {
  0% {
    scale: 0.7;
    opacity: 0;
  }
  50% {
    scale: 0.7;
    opacity: 0;
  }
  90% {
    scale: 1.1;
    opacity: 1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes imageAnimateSecond {
  0% {
    transform: rotate(90deg) translateX(85vh);
  }
  20% {
    transform: rotate(90deg) translateX(85vh);
  }
  100% {
    transform: rotate(0) translateX(0);
  }
}
