.pre-footer {
  background: url(#{$i}footer_bg_white-brush_top.png) no-repeat;
  background-color: $colorButton;
  padding: 40px 10px;

  @include e(form-box) {
    position: relative;
  }

  @include e(title) {
    font-size: rem(25px);
    color: $white;
    line-height: 1.1;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: $baseFontWeight;
    margin-bottom: 10px;
  }

  @include e(form) {
    display: flex;
    flex-direction: column;
  }

  @include e(email) {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    line-height: 28px;
    color: $white;
    font-size: $baseFontSize;
    font-family: $FontFamilySource;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;

    &::placeholder {
      color: $white;
      font-size: $baseFontSize;
      font-family: $FontFamilySource;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75;
      letter-spacing: 0;
    }
  }

  @include e(submit) {
    align-self: flex-start;
    background-color: $colorButtonNewBackground;
    color: $white;
    font-weight: $baseFontWeight;
    font-size: $baseFontSize;
    font-family: $FontFamilySignika;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 16px 60px;
    cursor: pointer;
  }

  @include e(image-box) {
    display: none;
  }

  @include e(registration-done) {
    position: absolute;
    top: calc(50% - 40px);
    font-size: rem(25px);
    color: $white;
    line-height: 1.1;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: $baseFontWeight;
    border: 3px solid $colorFooterHover;
    padding: 10px;
    display: none;
  }

  @include e(cat-spinner) {
    position: absolute;
    bottom: -30px;
    max-width: 480px;
    display: none;
  }

  @include e(cat-spinner-image) {
    @include image();
  }

  @include e(hide) {
    position: relative;
    left: -200%;
  }

  @include e(show) {
    display: initial;
    animation: animateGrumpy 5s ease;
  }
}

@keyframes animateGrumpy {
  0% {
    opacity: 0;
    scale: 1;
  }
  25% {
    opacity: 1;
    scale: 1.1;
    transform: rotate(0);
  }
  50% {
    scale: 0.9;
    transform: rotate(5deg);
  }
  75% {
    scale: 1.1;
    transform: rotate(-5deg);
  }
  100% {
    scale: 1;
    transform: rotate(0);
  }
}
