.catadopt {
  @include e(title) {
    font-size: rem(68px);
  }

  @include e(slider) {
    margin: 0 -10px 40px;
  }

  @include e(image-box) {
    margin-bottom: 30px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      transition: 0.3s;
      transform: scale3d(2.5, 1.5, 1) rotate3d(0, 0, 1, -45deg)
        translate3d(0, -150%, 0);
      color: #6d6d6d;
    }

    &:hover {
      .catadopt__image {
        transform: scale(1.2);
      }

      .catadopt__svg {
        transform: translate(10px, 0);
        opacity: 1;
      }

      &::after {
        transform: scale3d(2.5, 1.5, 1) rotate3d(0, 0, 1, -45deg)
          translate3d(0, 150%, 0);
      }
    }
  }

  .catadopt__image {
    transition: 0.3s;
  }

  .catadopt__svg {
    transition: 0.3s;
  }

  @include e(button) {
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::after {
      content: "";
      background-color: $colorMenuText;
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      transform: translateX(150%) skew(45deg);
      transition: 0.3s;
      z-index: -1;
    }

    &:hover {
      &::after {
        transform: none;
      }
    }
  }
}

.catadopt__slider .slick-slide > div {
  margin: 0 10px;
}
